<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/control_stock</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">dieguito</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.jdbc.batch_size">20</property>
    <mapping class="com.Beans.Cliente"/>
    <mapping class="com.Beans.Proveedor"/>
    <mapping class="com.Beans.Articulo"/>
    <mapping class="com.Beans.Factura"/>
    <mapping class="com.Beans.ArticulosCompra"/>
    <mapping class="com.Beans.FacturaCompra"/>
    <mapping class="com.Beans.Caja"/>
    <mapping class="com.Beans.Rubros"/>
    <mapping class="com.Beans.Categoria"/>
    <mapping class="com.Beans.Usuario"/>
    <mapping class="com.Beans.Unidad"/>
    <mapping class="com.Beans.Vendedor"/>
    <mapping class="com.Beans.ArticulosPedido"/>
    <mapping class="com.Beans.Pedido"/>
    <mapping class="com.Beans.MovStock"/>
    <mapping class="com.Beans.Remito"/>
    <mapping class="com.Beans.EquivalenciaUnidades"/>
  </session-factory>
</hibernate-configuration>
